/* clases */

/* clases Escritura */

.container-guttered {
    width: 100%;
    max-width: 1144px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px
}

.container-fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20100
}

.page-main {
    min-height: 500px;
    min-height: 85vh
}

.background-color-eighth {
    background-color: #ecf3ea
}

.hero {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff
}


/* clases barra de navegacion fija */

.heading-font {
    font-family: 'Nunito',sans-serif;
}

.header-holder {
    display: block;
    width: 100%;
    background-color: #211c23;
    position: relative;
    z-index: 20100
}

.header_logo_graphic, .mobile-nav-title {
    display: inline-block;
    width: 32px;
    height: 34px;
    background-size: 32px 34px;
    background-repeat: no-repeat;
    background-image: url(https://a.rpas.png)
}

.header {
    color: #fff;
    height: 65px;
    white-space: nowrap;
    -o-animation: .35s linear fadeInNav;
    -moz-animation: .35s linear fadeInNav;
    -webkit-animation: .35s linear fadeInNav;
    animation: .35s linear fadeInNav
}

.heading {
    font-weight: 700
}

.heading-underlined:after {
    display: block;
    content: '';
    border-bottom: 3px solid #3b852a;
    padding-top: 20px;
    margin-bottom: 20px;
    width: 60px
}

.header_logo {
    float: left;
    height: 65px;
    border-left: 1px solid #d1d1d1
}

.header_logo_graphic {
    margin-top: 16px;
    margin-left: 10px;
    border: none;
    outline: 0
}

.heading-underlined--centered:after {
    margin-left: auto;
    margin-right: auto
}

.header_navigation {
    -webkit-backface-visibility: hidden;
    white-space: nowrap;
    display: none
}

.header_navigation a {
    color: #f3f3f3;
    padding-top: 4px;
    text-decoration: none;
    display: inline-block;
    line-height: 57px;
    border-bottom: 4px solid #211c23
}

.header_navigation_item {
    font-weight: 300;
    padding-right: 10px;
    font-size: 14px;
    -webkit-font-smoothing: subpixel-antialiased
}

.header_navigation_item:last-child {
    margin-right: 7.5px
}

.header_hamberger {
    float: left;
    width: 65px;
    height: 65px;
    margin-left: -15px
}

.header_hamberger .burger-icon {
    margin-top: 21px
}

.header_signup {
    line-height: 65px;
    padding: 0 20px 0 0
}

.header_signup_button {
    display: inline-block;
    line-height: 30px;
    padding: 0 15px;
    color: #f3f3f3;
    border: 2px solid #f3f3f3;
    text-transform: uppercase
}

.header_login {
    line-height: 65px
}

.header_login .btn--small {
    padding: 5px 10px
}

.continer-inner {
    max-width: 850px;
    padding-left: 1rem;
    padding-right: 1rem;
}

li.viñeta {
    padding-left: 2rem;
    padding-bottom: 1.5rem;
    background-image: url(/imagenes/Viñeta.svg); /*Cargar imagen viñetas*/
    background-repeat: no-repeat;
    background-size: 1.25rem;
    background-position: left 0.3125rem;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.grid--no-padding > * {
    padding-top: 0;
    padding-bottom: 0
}

.tp-app-feature_large-image {
    width: 100%;
    height: auto;
    max-width: 450px
}

/* footer clases */

.footer h3 {
    font-weight: 500;
    margin-bottom: 5px
}

.footer_title {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
    padding-bottom: 10px;
    color: #d1d1d1
}

.footer a {
    color: #d1d1d1;
    font-weight: 300
}

.footer_list {
    font-size: 14px
}

.footer_list li {
    padding-bottom: 10px
}

.grid {
    margin: -10px;
    font-size: 0;
    text-align: center;
    box-sizing: border-box
}

.grid > * {
    box-sizing: border-box;
    font-size: 16px;
    display: inline-block;
    padding: 10px;
    text-align: left;
    vertical-align: top
}

.grid--item-flush > *, .grid_item--flush {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0
}

.grid--no-padding > * {
    padding-left: 0;
    padding-right: 0
}

.grid--no-padding > *, .grid_item--flush-y {
    padding-top: 0;
    padding-bottom: 0
}

.grid--flush {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0
}

.grid--right {
    text-align: right
}

.grid--center {
    vertical-align: middle
}

.grid--center:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle
}

.grid--center > * {
    vertical-align: middle
}

.col-small-2 {
    width: 16.66667%;
    max-width: 16.66667%
}

.col-small-3 {
    width: 25%;
    max-width: 25%
}

.col-small-9 {
    width: 75%;
    max-width: 75%
}

.col-small-10 {
    width: 83.33333%;
    max-width: 83.33333%
}

.col-small-12 {
    width: 100%;
    max-width: 100%
}

.trades-job-review_prev {
    position: relative;
    z-index: 6;
    display: block;
    padding: 10px;
    margin-top: -25px;
    margin-bottom: -30px;
    width: 40%
}

/* clases botones */

.btn, .form_input, select {
    border: 1px solid #d1d1d1;
    box-shadow: none;
    padding: 8px 10px;
    font-family: montserrat,sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    background-color: #fff;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-top: 0
}

.btn--primary {
    color: #fff;
    background: #163974
}

.btn--outlined-inverted {
    color: #fff;
    background: 0 0;
    border: 1px solid #fff
}

.btn--primary .btn--outlined-inverted {
    border-color: #84b818;
    border-width: 2px
}

.btn--small {
    font-size: 12px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 5px 15px;
    font-weight: 500
}

.btn--fill {
    width: 100%
}

.btn, .cookie-acceptance-banner_button {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #636065
}

.btn {
    position: relative;
    outline: 0;
    text-decoration: none;
    border: 1px solid #163974;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 15px;
    text-align: center;
    color: #163974;
    background-color: #fff;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-touch-callout: none;
    -webkit-appearance: none
}

.homeowner-checklist_content_text_link {
    color: #84b818;
    text-decoration: none
}

.padded-double {
    padding: 20px
}

.padded-half {
    padding: 5px
}

.padded-top {
    padding-top: 10px
}

.padded-top-double {
    padding-top: 20px
}

.padded-bottom-double {
    padding-bottom: 20px
}

.padded-left {
    padding-left: 10px
}

.padded-right-none {
    padding-right: 0
}

.spaced-bottom-half {
    margin-bottom: 5px
}

.page-section-top {
    padding-top: 30px
}

.page-section-bottom {
    padding-bottom: 30px
}

.text-center {
    text-align: center
}

.text-uppercase {
    text-transform: uppercase
}

.stealth-link {
    color: inherit;
    text-decoration: none
}

.text-color-inverted {
    color: #fff
}


/* clases requerimientos servicios */

.featured-job-card {
    white-space: normal
}

.featured-job-card > div {
    vertical-align: middle
}

.featured-job-card_work {
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    font-size: 0
}

.featured-job-card_work_play-cta-holder {
    z-index: 2;
    position: absolute;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

.featured-job-card_work_photo {
    max-height: 500px;
    min-width: 100%;
    position: relative;
    z-index: 1
}

.jobform-widget {
    padding: 10px 15px
}

.jobform-widget_submit {
    padding: 10px
}

.jobform-widget_error {
    position: relative;
    top: 10px;
    line-height: 100%;
    display: none
}

.jobform-widget_controls-holder p {
    font-size: 13px;
    font-weight: 500;
    line-height: 13px;
    padding: 0
}

.jobform-widget--homeowners-hero .jobform-widget_submit {
    color: #fff;
    background: #84b818;
    border-color: #84b818
}

.jobform-widget_error {
    line-height: 0;
    padding: 0;
    margin: 0;
    color: #b53b17;
    font-weight: 500;
    font-style: italic;
    font-size: 12px
}

.masonry_item_image {
    background-color: #ecf3ea;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover
}

.masonry_item_image--centered {
    background-position: center center
}

.masonry_item--horizontal .masonry_item_image {
    height: 375px
}

.masthead-banner {
    background-color: #504953;
    color: #fff;
    margin-top: 65px;
    position: relative
}

.masthead-banner_content {
    background-image: url(https://a.rpas.png);
    background-position: left center;
    background-size: 400px 505px;
    background-repeat: no-repeat;
    padding: 15px 0
}

.masthead-banner_content_message {
    font-size: 25px;
    font-weight: 300;
    color: #fff;
    display: block;
    padding-bottom: 20px;
    vertical-align: middle
}

.masthead-banner_close {
    position: absolute;
    top: 8px;
    right: 10px;
    height: 20px;
    width: 20px;
    background-size: 19px 18px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(https://a.rpas.png);
    text-indent: -9999px
}

/* icon clases */

.burger-icon {
    width: 30px;
    height: 45px;
    position: relative;
    margin: 10px auto 0;
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    -moz-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-backface-visibility: hidden
}

.burger-icon span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #d1d1d1;
    opacity: 1;
    left: 0;
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    -moz-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0)
}

.burger-icon span:nth-child(1) {
    top: 0
}

.burger-icon span:nth-child(2), .burger-icon span:nth-child(3) {
    top: 9px
}

.burger-icon span:nth-child(4) {
    top: 18px
}


/* clases barra de navegaciòn mobile */

.mobile-nav-holder {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0);
    z-index: 20300
}

.mobile-nav-control {
    width: 65px;
    height: 65px;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-backface-visibility: hidden;
    z-index: 20301
}

.mobile-nav-control .burger-icon {
    margin-top: 21px
}

.mobile-nav {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #636065;
    color: #fff;
    padding-top: 65px;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    box-shadow: 0 0 9px rgba(0,0,0,.6);
    margin-left: 60px;
    left: -80%;
    width: 80%
}

.mobile-nav a {
    color: #fff
}

.mobile-nav-title {
    display: block;
    height: 65px;
    background-color: #211c23;
    background-position: 20px center;
    position: absolute;
    top: 0;
    left: -80%;
    width: 80%;
    margin-left: 60px
}

.mobile-nav_menu {
    list-style: none
}

.mobile-nav_menu_item {
    font-weight: 300;
    display: block;
    padding: 15px 20px
}

/* clases asi trabajamos */

.how-it-works_frame {
    position: relative;
    padding-left: 60px;
    padding-top: 20px;
    border-bottom: 1px solid #d1d1d1
}

.how-it-works_frame h3 {
    font-size: 24px;
    line-height: 100%;
    margin-bottom: 6px
}

.how-it-works_frame p {
    line-height: 100%;
    color: #908e91;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px
}

.how-it-works_frame:before {
    content: 'x';
    position: absolute;
    top: 15px;
    left: 10px;
    font-weight: 200;
    font-size: 50px;
    color: #84b818
}

.how-it-works_frame--one:before {
    content: '1';
    left: 15px
}

.how-it-works_frame--two::before {
    content: '2'
}

.how-it-works_frame--three::before {
    content: '3'
}

/* clases formularios */

.form_input {
    height: 40px
}

/* Legal clases */

.cookie-acceptance-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 12px 10px 10px;
    color: #211c23;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.4);
    font-size: 13px;
    text-align: left;
    opacity: 0;
    z-index: 999999
}

.cookie-acceptance-banner div {
    font-size: 13px
}

.cookie-acceptance-banner a {
    color: #211c23;
    text-decoration: underline;
    font-weight: 700
}

.cookie-acceptance-banner.cookie-acceptance-banner--visible {
    opacity: 1
}

.cookie-acceptance-banner_button {
    font-size: 12px;
    color: #fff;
    background: #211c23;
    padding: 3px 6px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 4px;
    width: 100%;
    line-height: 26px
}


/* Legal proyectos */

.tp-app-feature_mobile-image {
    width: 100%;
    height: auto
}

.tp-app-feature_mobile-image {
    max-width: 420px;
    margin: 30px auto 0
}

.trades-job-review {
    position: relative;
    padding: 0 20px 20px
}

.trades-job-review_next, .trades-job-review_prev {
    position: relative;
    z-index: 6;
    display: block;
    padding: 10px;
    margin-top: -25px;
    margin-bottom: -30px;
    width: 40%
}

.trades-job-review_next:before, .trades-job-review_prev:before {
    content: '';
    display: block;
    background: url(https://a.rpas.png) center no-repeat;
    background-size: 72px 52px;
    width: 18px;
    height: 20px
}

.trades-job-review_prev {
    float: left
}

.trades-job-review_prev:before {
    background-position: 0 center
}

.trades-job-review_next {
    float: right
}

.trades-job-review_next:before {
    background-position: -18px center;
    float: right
}

.trades-job-review_content {
    width: 100%;
    position: relative;
    z-index: 1;
    overflow: hidden
}

.trades-job-review_content_slider {
    font-size: 0;
    width: 1000%;
    position: relative;
    left: 0;
    white-space: nowrap
}

/* Propietarios clases */

.homeowners-frontpage_hero {
    background-color: #211c23;
    background-image: url(https://a.rpas.jpg);
    background-position: top center;
    padding-top: 40px
}

.homeowners-frontpage_hero h1 {
    font-size: 27px;
    line-height: 39px;
    margin: 0 0 10px;
    padding: 0 10px 0 15px;
    line-height: 100%;
    font-weight: 700
}

.homeowners-frontpage_hero h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    padding: 5px 10px 25px 15px
}

.homeowners-frontpage_hero_heading {
    font-size: 27px;
    line-height: 39px;
    margin: 0 0 10px;
    padding: 0 10px 0 15px;
    line-height: 100%;
    font-weight: 700
}

.homeowner-checklist {
    box-shadow: 0 1px 3px 2px rgba(0,0,0,.1)
}

.jobform-widget--homeowners-hero {
    padding: 0
}

.jobform-widget--homeowners-hero .jobform-widget_select {
    color: #211c23
}

.jobform-widget--homeowners-hero .jobform-widget_select option {
    background-color: #fff;
    color: #211c23
}

.jobform-widget--homeowners-hero .form_input {
    background-color: #fff;
    color: #211c23
}

.jobform-widget--homeowners-hero .jobform-widget_submit {
    height: 40px;
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 2px
}

.jobform-widget--homeowners-hero .jobform-widget_error {
    margin: 0;
    padding: 5px 10px;
    color: #fff;
    font-weight: 500;
    background-color: #b53b17;
    top: 0
}

.jobform-widget-copy-holder {
    color: #fff;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    border-bottom: 1px solid #666;
    padding: 15px 0;
    margin: 0 15px
}

.featured-job-review_content_slider_frame {
    display: inline-block;
    vertical-align: top;
    width: 10%;
    padding: 20px 0 0
}

.trades-job-review_prev:before {
    content: '';
    display: block;
    background: url(https://a.rpas.png) center no-repeat;
    background-size: 72px 52px;
    width: 18px;
    height: 20px
}

.homeowners-frontpage_hero .jobform-widget_controls-holder_skill, .homeowners-frontpage_hero .jobform-widget_controls-holder_submit, .homeowners-frontpage_hero .jobform-widget_controls-holder_trade {
    padding: 5px
}

.homeowners-frontpage_jobform-widget {
    position: relative;
    z-index: 3;
    -o-animation: .7s ease-out fadeInNav;
    -moz-animation: .7s ease-out fadeInNav;
    -webkit-animation: .7s ease-out fadeInNav;
    animation: .7s ease-out fadeInNav
}

.homeowners-frontpage_jobform-widget .jobform-widget_controls-holder {
    background-color: rgba(0,0,0,.5);
    margin: 0;
    padding: 10px
}

@media screen and (min-width:719px) and (max-width:1022px) {
    .is-hidden-medium-only {
        display: none !important
    }
}

@media screen and (min-width:1023px),print {
    .col-large-5 {
        width: 41.66667%;
        max-width: 41.66667%
    }

    .col-large-7 {
        width: 58.33333%;
        max-width: 58.33333%
    }
}

@media screen and (min-width:719px),print {
    .col-medium-3 {
        width: 25%;
        max-width: 25%
    }

    .col-medium-4 {
        width: 33.33333%;
        max-width: 33.33333%
    }

    .col-medium-6 {
        width: 50%;
        max-width: 50%
    }

    .col-medium-7 {
        width: 58.33333%;
        max-width: 58.33333%
    }

    .col-medium-12 {
        width: 100%;
        max-width: 100%
    }
}

@media screen and (min-width:719px),print {
    .homeowners-frontpage_hero h2 {
        padding: 0 0 0 55px;
        font-weight: 500
    }

    .homeowners-frontpage_hero_heading {
        font-size: 40px;
        padding: 0 0 0 54px;
        font-weight: 900
    }
}

@media screen and (min-width:1023px),print {
    .homeowners-frontpage_hero h2 {
        padding: 0 0 0 15px
    }

    .homeowners-frontpage_hero_heading {
        font-size: 50px;
        padding: 0 0 0 14px
    }
}

@media screen and (min-width:719px), print {
    .grid > * {
        font-size: 14px
    }

    .col-medium-2 {
        width: 16.66667%;
        max-width: 16.66667%
    }

    .col-medium-3 {
        width: 25%;
        max-width: 25%
    }

    .col-medium-4 {
        width: 33.33333%;
        max-width: 33.33333%
    }

    .col-medium-6 {
        width: 50%;
        max-width: 50%
    }

    .col-medium-7 {
        width: 58.33333%;
        max-width: 58.33333%
    }

    .col-medium-10 {
        width: 83.33333%;
        max-width: 83.33333%
    }

    .col-medium-12 {
        width: 100%;
        max-width: 100%
    }
}

@media screen and (min-width:719px),print {
    .masonry_item--horizontal .masonry_item_image {
        height: 100%
    }

    .masonry_item--horizontal--left .masonry_item_image {
        float: right
    }

    .masonry-grid-row--two-cell .masonry_item--horizontal .masonry_item_image {
        min-height: 289px
    }

    .masonry-grid-row--one-cell .masonry_item--horizontal .masonry_item_image {
        min-height: 383px
    }

    .masthead-banner {
        margin-top: 0
    }

    .masthead-banner_content_message {
        display: inline-block;
        padding-right: 30px;
        padding-bottom: 0
    }

    .masthead-banner_close {
        top: 50%;
        margin-top: -10px;
        right: 20px
    }

    .homeowner-checklist {
        box-shadow: initial
    }

    .homeowner-checklist_content {
        padding-top: 20px
    }

    .homeowner-checklist_content_text {
        font-size: 18px
    }
}

@media screen and (min-width:719px), print {
    .trades-job-review_prev {
        right: 0;
        float: none;
        position: absolute;
        z-index: 2;
        top: 0;
        bottom: 0;
        padding: 10px;
        margin-top: 0;
        margin-bottom: 0;
        width: 38px
    }

    .trades-job-review_prev:before {
        position: absolute;
        top: 50%;
        margin-top: -26px;
        height: 52px
    }
}

@media screen and (max-width:719px) {
    .is-hidden-small {
        display: none !important
    }
}

@media screen and (min-width:719px),print {
    .page-section-top {
        padding-top: 60px
    }

    .page-section-bottom {
        padding-bottom: 60px
    }

    .is-hidden-medium, .is-hidden-medium-up {
        display: none !important
    }
}

@media screen and (min-width:1023px),print {
    .is-hidden-large {
        display: none !important
    }
}

@media screen and (min-width:719px),print {
    .featured-job-review_content_slider_frame {
        padding: 10px 30px
    }
}

@media screen and (max-width:720px) {
    .body-fixed-top-banner-padding-small {
        padding-top: 65px
    }
}

@media screen and (min-width:719px),print {
    .homeowners-frontpage_jobform-widget {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin-top: -110px
    }

    .homeowners-frontpage_jobform-widget .jobform-widget_controls-holder {
        background-color: transparent;
        margin: 0;
        padding: 20px 10px 0
    }

    .jobform-widget--homeowners-hero .jobform-widget_error {
        display: inline-block;
        visibility: hidden;
        line-height: 100%
    }
}

@media screen and (min-width:719px),print {
    .trades-job-review_next {
        right: 0
    }

    .trades-job-review_next:before {
        float: none
    }

    .hero--tall {
        min-height: 350px;
        height: 500px;
        background-size: 1620px 526.5px;
        background-position: 50% 0
    }
}

@media screen and (min-width:1023px),print {
    .hero--tall {
        height: 550px;
        background-size: 1800px 585px;
        background-position: 50% 0
    }
}

@media screen and (min-width:719px),print {
    .trades-job-review_next, .trades-job-review_prev {
        right: 0;
        float: none;
        position: absolute;
        z-index: 2;
        top: 0;
        bottom: 0;
        padding: 10px;
        margin-top: 0;
        margin-bottom: 0;
        width: 38px
    }

    .trades-job-review_next:before, .trades-job-review_prev:before {
        position: absolute;
        top: 50%;
        margin-top: -26px;
        height: 52px
    }

    .trades-job-review_prev {
        left: 0
    }
}

@media screen and (min-width:719px),print {
    .how-it-works_frame {
        padding-top: 10px;
        border-bottom: none;
        padding-left: 70px
    }

    .how-it-works_frame p {
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 15px
    }

    .how-it-works_frame:before {
        top: 2px;
        font-size: 68px
    }

    .how-it-works_frame:last-child {
        border-bottom: none
    }

    .how-it-works_frame--one {
        padding-left: 55px;
        width: 33%;
        max-width: 33%
    }

    .how-it-works_frame--one:before {
        left: 10px
    }

    .how-it-works_frame--two {
        width: 33%;
        max-width: 33%
    }

    .how-it-works_frame--three {
        width: 33%;
        max-width: 33%
    }
}

@media screen and (min-width:719px),print {
    .mobile-nav-title {
        left: -30%;
        width: 30%
    }

    .mobile-nav_menu_item {
        padding: 20px
    }

    .how-it-works {
        padding-top: 20px
    }
}

@media screen and (min-width:719px),print {
    .mobile-nav {
        left: -30%;
        width: 30%
    }
}

@media screen and (min-width:719px),print {
    .header_logo {
        border-left: none
    }

    .header_logo_graphic {
        margin-top: 16px;
        display: inline-block;
        width: 29px;
        height: 32px;
        margin-left: 0;
        background-size: 238px 33px;
        background-image: url(https://a.rpas.png)
    }
}

@media screen and (min-width:719px),print {
    .header_navigation {
        display: inline-block
    }

    .header_hamberger {
        display: none
    }
}

@media screen and (min-width:719px),print {
    .jobform-widget_controls-holder_skill {
        width: 37%;
        max-width: 37%
    }
}

@media screen and (min-width:719px),print {
    .container-fixed-top--static-on-medium {
        position: relative;
        top: auto;
        left: auto;
        right: auto
    }

    .jobform-widget {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
        padding: 10px
    }

    .jobform-widget_controls-holder_trade {
        width: 38%;
        max-width: 38%
    }
}

@media screen and (min-width:1164px),print {
    .container-guttered {
        padding-left: 0;
        padding-right: 0
    }
}

@media screen and (min-width:719px),print {
    .cookie-acceptance-banner {
        line-height: 26px
    }

    .cookie-acceptance-banner_button {
        margin: 0 0 0 5px;
        width: auto;
        padding: 3px 15px
    }

    .cookie-text {
        text-align: center
    }
}

@media screen and (min-width:719px),print {
    .btn {
        padding: 10px 30px
    }
}

@media screen and (min-width:1023px),print {
    .header_logo_graphic {
        width: 240px
    }

    .header_navigation_item {
        padding-left: 7.5px;
        padding-right: 7.5px
    }
}

@media screen and (min-width:719px),print {
    .trades-job-review {
        padding: 20px 30px 40px
    }
}

@media screen and (min-width:719px),print {
    .homeowners-frontpage_hero {
        position: relative;
        display: block;
        background-image: url(https://a.rpas.jpg);
        background-size: 1620px 526.5px;
        background-position: 44% 0
    }

    .homeowners-frontpage_hero h1 {
        font-size: 40px;
        padding: 0 0 0 54px;
        font-weight: 900
    }
}

@media screen and (min-width:1023px),print {
    .homeowners-frontpage_hero {
        background-image: url(https://a.rpas.jpg);
        background-size: 1800px 585px;
        background-position: 50% 0
    }

    .homeowners-frontpage_hero h1 {
        font-size: 50px;
        padding: 0 0 0 14px
    }
}

@-webkit-keyframes fadeInNav {
    0% {
        opacity: 0
    }

    65% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-moz-keyframes fadeInNav {
    0% {
        opacity: 0
    }

    65% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-ms-keyframes fadeInNav {
    0% {
        opacity: 0
    }

    65% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes fadeInNav {
    0% {
        opacity: 0
    }

    65% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}
