.Marcas {
  text-align: center;
}

.Marcas-container{
  text-align: center;
  display: flex;
  background-color: #282c34;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.Marcas-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Marcas-grupo {
    
}

.Marcas-logo {
  height: 40vmin;
  pointer-events: none;
}

.Marcas-link {
  color: #61dafb;
}





