.Nosotros {
  text-align: center;
}

.Nosotros-container{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #282c34;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.Nosotros-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Nosotros-somos {
  text-align: center;
}

.Nosotros-mision {
  text-align: center;
}

.Nosotros-vision {
  text-align: center;
}

.Nosotros-logo {
  height: 40vmin;
  pointer-events: none;
}

.Nosotros-link {
  color: #61dafb;
}

