.Productosyservicios {
  text-align: center;
}

.Productosyservicios-container{
  text-align: center;
  display: flex;
  background-color: #282c34;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.Productosyservicios-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Productosyservicios-grupo {
  text-align: center;
}

.Productosyservicios-grupo-cerraduras {
  text-align: center;
}

.Productosyservicios-grupo-acceso {
  text-align: center;
}

.Productosyservicios-grupo-incendios {
  text-align: center;
}

.Productosyservicios-grupo-redes {
  text-align: center;
}

.Productosyservicios-grupo-alturas {
  text-align: center;
}

.Productosyservicios-grupo-mecanismos {
  text-align: center;
}

.Productosyservicios-grupo-tendencias {
    text-align: center;
}

.Productosyservicios-grupo-seguridad {
    text-align: center;
}

.Productosyservicios-tienda {
    text-align: center;
}

.Productosyservicios-logo {
    height: 40vmin;
    pointer-events: none;
}

.Productosyservicios-link {
  color: #61dafb;
}

