.Social {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.Social-container {
}

.Social-redes {
}

.Social-lista {
}

.Social-siguenos {
}

.Social-icono {
    /*instagram:;
    twitter:;
    facebook:;
    linkedin:;*/
}
