
/* Helvetica */

@font-face {
    font-family: 'helvlightregular';
    src: url('../fuentes/heln_0-webfont.eot');
    src: url('../fuentes/heln_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fuentes/heln_0-webfont.woff2') format('woff2'),
         url('../fuentes/heln_0-webfont.woff') format('woff'),
         url('../fuentes/heln_0-webfont.ttf') format('truetype'),
         url('../fuentes/heln_0-webfont.svg#helvlightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'helvcondensedregular';
    src: url('../fuentes/helvcondensed_2-webfont.eot');
    src: url('../fuentes/helvcondensed_2-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fuentes/helvcondensed_2-webfont.woff2') format('woff2'),
         url('../fuentes/helvcondensed_2-webfont.woff') format('woff'),
         url('../fuentes/helvcondensed_2-webfont.ttf') format('truetype'),
         url('../fuentes/helvcondensed_2-webfont.svg#helvcondensedregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'helvcondensedbold';
    src: url('../fuentes/ex0268_1-webfont.eot');
    src: url('../fuentes/ex0268_1-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fuentes/ex0268_1-webfont.woff2') format('woff2'),
         url('../fuentes/ex0268_1-webfont.woff') format('woff'),
         url('../fuentes/ex0268_1-webfont.ttf') format('truetype'),
         url('../fuentes/ex0268_1-webfont.svg#helvcondensedbold') format('svg');
    font-weight: normal;
    font-style: normal;

}